<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nissan.alldriverguide">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/nissan_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/nissan_round_icon"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.nissan_europe.com"
                    android:pathPattern="/launch_app"
                    android:scheme="https" />

            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".CarDownloadActivityNew"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LanguageSelectionActivity"
            android:label="@string/title_activity_language_selection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TutorialActivity"
            android:label="@string/title_activity_tutorial"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CarDownloadActivity"
            android:label="@string/title_activity_car_download"
            android:screenOrientation="portrait">

            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.VIEW" />-->

            <!--                <category android:name="android.intent.category.DEFAULT" />-->
            <!--                <category android:name="android.intent.category.BROWSABLE" />-->

            <!--                <data-->
            <!--                    android:host="www.nissan_europe.com"-->
            <!--                    android:pathPattern="/launch_app"-->
            <!--                    android:scheme="https" />-->
            <!--            </intent-filter>-->


        </activity>
        <activity
            android:name=".ModelYearActivity"
            android:label="ModelYearActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImageTargetActivity"
            android:label="@string/title_activity_image_target"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TyreTransitionActivity"
            android:label="@string/title_activity_image_target"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VideoPlayerActivity"
            android:label="@string/title_activity_video_player"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DetailsActivity"
            android:label="@string/title_details_main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CombimeterActivity"
            android:label="@string/title_combimeter_main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PDFOpenActivity"
            android:label="@string/pdf_open"
            android:screenOrientation="portrait" /> <!-- Firebase Notifications -->
        <service android:name=".pushnotification.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".pushnotification.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>